.navbar { background-color: #18A7AD; }

.navbar .navbar-nav .nav-link { color: #FEFCE6; }

.navbar .navbar-nav .nav-link.active { font-weight: 500; }

.navbar svg { max-height: 70px; width: auto; margin: 1em 2em; }